@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Quên mật khẩu?";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<div class="text-center">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <p class="text-muted">Nhập email để đặt lại mật khẩu</p>
</div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>

    <div class="form-group mb-3">
        <label asp-for="Input.Email" class="form-label">Email</label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary btn-block">Gửi yêu cầu đặt lại</button>
    </div>

    <div class="text-center">
        <p class="mb-0">
            <a asp-page="./Login" class="text-muted">Quay lại</a>
        </p>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}