@page
@model VerifyOTPModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
@{
    ViewData["Title"] = "Xác nhận OTP";

    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h2 class="text-center">@ViewData["Title"]</h2>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>

            <div class="form-group mb-3">
                <label asp-for="OTP" class="form-label">Nhập mã OTP</label>
                <input asp-for="OTP" class="form-control text-center" aria-required="true" placeholder="Mã OTP" />
                <span asp-validation-for="OTP" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary w-100">Xác nhận OTP</button>
            </div>

            <div class="text-center">
                <p class="mb-0">
                    <a href="/Identity/Account/ForgotPassword" class="text-muted">Quay lại</a>

                </p>
            </div>
        </form>
    </div>
</div>
